<nb-card>
    <nb-card-header>Links</nb-card-header>
    <nb-card-body>
        <div class="column">
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-primary btn-demo">Course</button>
                </div>


                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Courseoff()" >My courses</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Buzzport()" >Buzzport</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="TSquare()" >T-square</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Github()" >Github</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="GTGithub()" >GT Github</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Slack()" >Slack</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Stackoverflow()" >Stackoverflow</button>
                    </div>
                </div>

            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
                <div class="container-btn">
                    <button class="btn btn-hero-warning btn-demo">Utility</button>
                </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Buzzport()" >Buzzport</button>
                    </div>
                </div>
            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
                <div class="container-btn">
                    <button class="btn btn-hero-success btn-demo">Campus</button>
                </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Nextbus()" >GT bus</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Campusmap()" >Campus Map</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="CRC()" >CRC</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Library()" >GT Library</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-tn" (click)="Dining()" >GT Dining</button>
                    </div>
                </div>
            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
                <div class="container-btn">
                    <button class="btn btn-hero-info btn-demo">Career</button>
                </div>
                <button class="btn btn-info btn-tn" (click)="goToUrl()" >Tiny</button>
            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-2">
                <div class="container-btn">
                    <button class="btn btn-hero-danger btn-demo">Others</button>
                </div>
                <button class="btn btn-danger btn-tn" (click)="goToUrl()" >Tiny</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
