<nb-card>
    <nb-card-header> Navigation </nb-card-header>
    <nb-card-body>
        <div class="column">
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-primary btn-demo">Course</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">

                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Courseoff()" >My courses</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Buzzport()" >Buzzport</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="TSquare()" >T-square</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Github()" >Github</button>
                    </div>

                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="GTGithub()" >GT Github</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Slack()" >Slack</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Stackoverflow()" >Stackoverflow</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Canvas()" >Canvas</button>
                    </div>

                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="RateMyProfessor()" >RateMyProf</button>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-primary btn-tn col-xxxl-12" (click)="Piazza()" >Piazza</button>
                    </div>

                    

                </div>

            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-warning btn-demo"> Utility </button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Buzzport()" >Buzzport</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Nextbus()" >NextBus</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Stingerette()" >Stingerette</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Nextbus()" >Buzzcard</button>
                    </div>

                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Dining()" >MealPlan</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="Dining()" >GT Dining</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-warning btn-tn col-xxxl-12" (click)="LibPrinter()" >Print</button>
                    </div>

                </div>
            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-success btn-demo">Campus</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12">
                    <div class="col-md-3">
                        <button class="btn btn-hero-success btn-tn col-xxxl-12" (click)="Nextbus()" >GT bus</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-success btn-tn col-xxxl-12" (click)="Campusmap()" >Campus Map</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-success btn-tn col-xxxl-12" (click)="CRC()" >CRC</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-hero-success btn-tn col-xxxl-12" (click)="Library()" >GT Library</button>
                    </div>

                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                    
                    <div class="col-md-3">
                        <button class="btn btn-hero-success btn-tn col-xxxl-12" (click)="GTbuses()" >GT Buses</button>
                    </div>
                    
                </div>
            </div>

            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-info btn-demo">Career</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>


                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> 

                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="CareerBuzz()" >CareerBuzz</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="LinkedIn()" >LinkedIn</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="PiazzaCareer()" >PiazzaCareer</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="OnCampusJob()" >OnCampusJob</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="AngelList()" >AngelList </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="AtlantaTechVillage()" >AtlantaTechVillage </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="Indeed()" >Indeed </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="Glassdoor()" >Glassdoor </button>
                </div>
                
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>

                <div class="col-md-3">
                    <button class="btn btn-hero-info btn-tn col-xxxl-12" (click)="CareerCup()" >CareerCup </button>
                </div>


                </div>
            </div>




            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-danger btn-demo">Others</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                
                <div class="col-md-3">
                    <button class="btn btn-danger btn-tn" (click)="goToUrl()" >Tiny</button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
