<nb-card>
    <nb-card-header> Campus map for GT students </nb-card-header>
    <nb-card-body>
        <p>
            If pop up does not work, open Map manually by clicking.
        </p>
        <div class="column">
            <div class="example-container col-sm-6 col-md-4 col-xl-3 col-xxxl-12">
                <div class="container-btn">
                    <button class="btn btn-hero-primary btn-demo" (click)="goToCampusMap()" >Campus Map</button>
                </div>

                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>
                <div class="row show-grid col-sm-5 col-ms-3 col-xl-3 col-xxxl-12"> </div>


            </div>

        </div>
    </nb-card-body>
</nb-card>
