<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Message to Us</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Send</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
